/*

Выбрать тег для изменения
.title  class="title'


Свойства элемента

color: green; //цвет текста
font-size: 14px; //размер текста
background: blue; // цвет фона
border: 1px solid red; //обводка элемента (толщина, тип линии(сплошная), цвет

*/


.title{
    color: darkblue;
    font-size: 24px;
    background: lightblue;
    border: 1px solid red; /* обводка*/

}
.wwww{
    color: darkred;
    font-size: 30px;
    background: cadetblue;
    border: 2px solid black;

}
.pppp{
    color: chocolate;
    font-size: 28px;
    background: saddlebrown;
    border: 2px solid sandybrown;
}
.qqqq {
    color: red;
    font-size: 30px;
    background: darkred;
    border: 3px solid orangered;
}
.kkkk{
    color: aqua;
    font-size: 26px;
    background: cadetblue;
    border: 2px solid beige ;
}
.oooo{
    color: grey;
    font-size: 27px;
    background: dimgray;
    border: 3px solid dimgrey;
}
.nnn{
    color: chartreuse;
    font-size: 28px;
    background: black;
    border:2px solid aliceblue ;
}
.vvvv{
    color: orangered;
    font-size: 31px;
    background: chocolate;
    border: 2px solid red;
}
.eee{
    color: darkred;
    font-size: 32px;
    background: crimson;
    border: 2px solid chartreuse;
}
.sssss{
    color: aliceblue;
    font-size: 33px;
    background: azure;
    border: 4px solid white;
}
.fff{
    color: firebrick;
    font-size: 26px;
    background: darkturquoise;
    border: gold;
}
.ghghg{
    color: floralwhite;
    font-size: 29px;
    background: goldenrod;
    border: 3px solid gold;
}
.zzzz {
    color: goldenrod;
    font-size: 32px;
    background: darkcyan;

    border: deepskyblue;
}


.menu a{
	color: darkcyan;
	text-decoration: none;
}

.menu .menu_active{
	background-color: lightblue;
}


/* Наследование */
.parent-block{
	color:magenta; /* свойство наследуется */
	border: 1px solid magenta;  /* свойство не наследуется */
	font-size: 20px; /* свойство наследуется */
}

.list-left li{
	color: green;
}

.list-right li{
	color: yellowgreen;
}
.qqqqq{
    color: orangered;

}
form {
    max-width: 420px; /* Ограничение формы по ширине */
    margin: 0 auto; /* Выравнивание формы по центру */
    padding: 20px; /* Внутренние отступы */
    border: 1px solid #ccc; /* Обводка */
    border-radius: 5px; /* Скругление */
}

input, textarea, button {
    width: 100%; /* Ширина полей */
    padding: 10px; /* Внутренние отступы */
    margin: 0 0 10px; /* Отступы между полями */
    border: 1px solid #ccc; /* Обводка */
    border-radius: 5px; /* Скругление */
}

textarea {
    height: 150px; /* Высота поля */
    resize: none; /* Запрет на изменение ширины и высоты пользователем */
}

button {
    background-color: #4cf50; /* Фоновый цвет */
    color: #ffffff; /* Цвет текста */
    cursor: pointer; /* Курсор в виде пальца */
}

button:hover {
    opacity: 0.8; /* Прозрачность при наведении */
}/* Определяем ключевую анимацию: элемент появляется снизу и становится видимым */
@keyframes fadeIn {
    0% {
        opacity: 0; /* Элемент полностью прозрачный в начале */
        transform: translateY(20px); /* Смещён вниз на 20px */
    }
    100% {
        opacity: 1; /* Полностью видимый */
        transform: translateY(0); /* Возвращается на своё место */
    }
}

.intro {
    /* Применяем анимацию fadeIn */
    animation: fadeIn 3s ease-out;

    /* Стили текста */
    font-family: Arial, sans-serif;
    font-size: 2em;
    text-align: center;
    margin-top: 100px;
    color: #333;
}

body {
    background-color: #f5f5f5; /* Светлый фон страницы */
    margin: 0;
    padding: 0;
}
.list-color{
    color: aquamarine;

}

/* FLEX */
.flex-block{
	background-color: lightblue;
	display: flex;
	padding: 10px;
	margin: 10px;
}

.flex-block__item{
	padding: 10px 50px;
	border: 1px solid blue;
	background-color: silver;
}

.flex-block_end{
	justify-content: flex-end;
}
.flex-block hgroup{
    flex-flow: row;
    flex-flow: row-reverse;
    flex-flow: column;
    flex-flow: column-reverse;
    flex-flow: nowrap;
    flex-flow: wrap;
    flex-flow: wrap-reverse;
    flex-flow: row nowrap;
    flex-flow: column wrap;
    flex-flow: column-reverse wrap-reverse;
    flex-flow: inherit;
    flex-flow: initial
}
.flex-block-html{
    order: 2;
}
.flex-block_end_spawn{
    order: initial;

}
.flex-block__end{
    order: inherit;
}
.flex-block_end-item{
    align-self: auto;
}
.flex-block_nowar-end{
    align-self: center;
}
.flex-block_end__item{
    align-self: flex-start;
}
.flex-block_end-start{
    align-self: flex-end;

}
.flex-block_end__end{
    align-self: baseline;
}
.flex-block_end--warp{
    align-self: stretch
}
.flex-block_end-warp{
    align-self: inherit;
}
.flex-block_start{
    align-self: initial;
}
.flex-block_end__nowar{
    flex-grow: 3;
}
.flex-block_nowar-end{
    flex-grow: 0.6;
}
.flex-block__start{
    flex-grow: inherit;
}
.flex-block-start{
    flex-grow: initial;
}
.flex-block_no-wrap{
    flex-wrap: nowrap;
}